@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');


@theme {
    --color-primary: #9b87f5;
    --color-secondary: #7E69AB;
}
@font-face {
    font-family: "Nunito", sans-serif;
    src: url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
}
/* fontFamily: {
    'nunito': ['Nunito', 'sans-serif']
} */

/*  primary-ligth: '#E5DEFF
    primary-dark: '#7E69AB',
*/